<%- include('partials/head') %>

<body>
    <section class="section">
        <div class="container is-flex is-justify-content-center is-align-items-center">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Ping Pong Game | Pontuação
                  </p>
                  <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </header>
                <div class="card-content has-text-centered">
                    <div class="content">
                        <p>Jogador A x Jogador B</p>
                    </div>
                  <div class="content">
                    <h1 class="is-size-1">
                        <span id="p1Display">0</span> à <span id="p2Display">0</span>
                    </h1>
                  </div>
                  <div class="content">
                    <p>Use os botões abaixo para atualizar o placar</p>
                  </div>
                  <label for="maxPontos" class="label is-inline">Selecione a pontuação máxima</label>
                  <div class="select is-rounded">
                    <select name="" id="maxPontos">
                        <option selected value="5">Até 5</option>
                        <option value="7">Até 7</option>
                        <option value="10">Até 10</option>
                    </select>
                  </div>
                </div>
                <footer class="card-footer">
                    <button id="p1Btn" class="button card-footer-item is-primary">Ponto do Jogador A</button>
                    <button id="p2Btn" class="button card-footer-item is-info">Ponto do Jogador B</button>
                    <button id="restart" class="button card-footer-item is-danger">Reiniciar</button>
                </footer>
              </div>
        </div>
    </section>

    <script src="main.js"></script>
</body>
</html>