<%- include('partials/head') %>

<body>
    <section class="hero is-warning is-large has-text-centered">
        <div class="hero-body">
          <h1 class="title">
            404 - Page not Found
          </h1>
          <button class="button is-info is-outlined"><a href="/">Click here to return</a></button>
        </div>
      </section>
</body>
</html>