.RollDice button {
    background-color: black;
    font-size: 12px;
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 16px 48px;
}

.RollDice button:hover {
    cursor: pointer;
    background-color: #282c34;
}